*.log
node_modules
app/bower_components
*.swp
.DS_Store
app/.DS_Store
app/css/main.css
app/dist/*.js
test/test-coverage-reports
.vagrant/
.java-version
config.json
*.iml
**/.idea
config.json
dump.rdb
