body {
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
}

#projects {
  width: 30%;
}

.btn-success {
  float: right;
  border: none;
  background: #ffcc66;
  border-radius: 1px;
  color: #535353;
  padding: 0px 6px;
  font-size: 1.2em;
  margin-top: 4px;

  &:hover {
    color: #535353;
    text-decoration: none;
  }
}

.right {
  float: right;
}

#filter-repo {
  -webkit-appearance: none;
  border: none;
  background: transparent;
  margin-left: 2em;
  top: -5px;
  position: relative;
  outline: none;
}

#filter-repo + label:after {
  content: '▼';
  color: black;
  font-size: 0.6em;
  font-family: Helvetica;
  top: -6px;
  left: 5px;
  position: relative;
}