body {
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
}

.pixelated-user-agent {
  background-color: #f0e0d0;
}

.pixelated-dispatcher {
  background-color: #d0f0e0;
}

.pixelated-platform {
  background-color: #d0e0f0;
}

#projects {
  width: 30%;
}

#open_modal_issue {
  float: right;
  background: #1abc9c;
  color: white;
  border: none;
  border-radius: 1px;
  padding: 2px 5px;
  font-size: 0.9em;
}

.assigns-myself {
  float: right;
  background: #ffcc66;
  border-radius: 1px;
  color: #535353;
  padding: 2px 5px;
  font-size: 0.9em;
}