.column {
	margin-right: 1em;
}

.issue {
	margin-bottom: 1em;
	background: #eaeaea;
	@include clearfix;

	.issue-header {
		padding: 7px;
		background: #d6d6d6;
	}

	.issue-body {
		background: #eaeaea;
		padding: 10px;
	}

	&.pixelated-user-agent .issue-number {
	  background-color: #3cb878;
	}

	&.pixelated-dispatcher .issue-number {
	  background-color: #ef689e;
	}

	&.pixelated-platform .issue-number {
	  background-color: #69b4df;
	}
}

.labels {
	padding: 10px;
	padding-top: 0;
}

.label {
	padding: 3px 7px;
	border-radius: 5px;
	color: white;
}

.assignee {
	font-size: 0.85em;
}

.assignee-avatar, .empty-avatar {
	width: 30px;
	border-radius: 3px;
}

.title {
	margin-bottom: 0.5em;
	color: #5E5E5E;
}

h3 {
	font-family: "OpenSansSemibold";
	font-weight: normal;
	font-size: 1.35em;
	margin: 0;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.issue-number {
	font-family: "OpenSansSemibold";
	top: 2px;
	position: relative;
	color: white;
	font-size: 1.15em;
	top: -7px;
	right: -7px;
	padding: 10px 10px 9px 10px;

	&:hover {
		color: #535353;
		text-decoration: underline;
	}
}