.column {
	margin-right: 1em;
}

.issue {
	cursor: pointer;
	margin-bottom: 1em;
	background: #eaeaea;
	padding: 10px;
	@include clearfix;
}

.assignee {
	font-size: 0.85em;
}

.assignee-avatar, .empty-avatar {
	width: 30px;
	border-radius: 3px;
}

.title {
	margin-bottom: 0.5em;
	color: #5E5E5E;
}

h3 {
	font-family: "OpenSansSemibold";
	font-weight: normal;
	font-size: 1.35em;
	margin: 0;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}