.column {
	margin-right: 2.2%;
}

.issue {
	margin-bottom: 0.7em;
	border: 1px solid #d6d6d6;
	background: #eaeaea;
	margin-right: 0.35em;
	@include clearfix;

	.issue-header {
		padding: 7px;
		background: #d6d6d6;
	}

	.issue-body {
		background: #eaeaea;
		padding: 10px;
	}

	&:active {
		cursor: url("/img/closedhand.cur"), default !important;
		transform: rotate(4deg);
	}

    &.color0 .issue-number {
	  background-color: #69b4df ;
	}

	&.color1 .issue-number {
	  background-color: #ef689e;
	}

	&.color2 .issue-number {
	  background-color: #3cb878;
	}

}

.labels {
	padding: 10px;
	padding-top: 0;
}

.label {
	padding: 3px 7px;
	border-radius: 5px;
	color: white;
	font-size: 0.95em;
	margin-right: 0.5em;
	display: inline-block;
	margin-bottom: 0.5em;

}

.assignee {
	font-size: 0.85em;
}

.assignee-avatar, .empty-avatar {
	width: 30px;
	border-radius: 3px;
}

.empty-avatar {
	height: 30px;
	background: #fff;
	padding-left: 10px;
	line-height: 1.8em;
	display: inline-block;
}

.empty-avatar-label {
	font-size: 0.7em;
	color: #535353;
	margin-left: 7px;
}

.panel-heading {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.panel-body {
	height: 80vh;
	overflow-y: scroll;
	overflow-x: hidden;
	min-height: 450px;
}

.panel-body.done {
	overflow: hidden;
}

.panel-heading h3 {
	display: inline;
}

.panel-heading .issues-count {
	font-family: "OpenSansSemiBold";
	font-size: 1.3em;
}

.panel.panel-default {
	position: relative;
}

.panel-heading.done {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 0.7em;

	h3 {
		color: #aaa;
		display: block;
		margin-top: 7px;
	}

	img {
		width: 51px;
		height: 66px;
		display: block;
		margin: 0 auto;
		position: relative;

		&.colored {
			display: none;
		}

		&.check-done {
			display: none;
		}
	}

	.issues-count {
		color: #aaa;
		display: block;
	}
}

.title {
	margin-bottom: 0.5em;
	color: #5E5E5E;
	word-wrap: break-word;
}

h3 {
	font-family: "OpenSansSemibold";
	font-weight: normal;
	font-size: 1.3em;
	margin: 0;
}

.list-group.done {
	border: 2px dashed #ccc;
	height: 77vh;
	margin-top: 2.8em;
}

.list-group.done .issue {
	display: none;
}

.issue-number {
	font-family: "OpenSansSemibold";
	top: 2px;
	position: relative;
	color: white;
	font-size: 1.15em;
	top: -7px;
	right: -7px;
	padding: 10px 10px 9px 10px;

	&:hover {
		color: #535353;
		text-decoration: underline;
	}
}

.empty-avatar.loading {
	background: url('../img/ajax-loader.gif') no-repeat;
	background-position: center center;
	color: rgba(0,0,0,0);
}