header {
	background: url('/img/back.png');

	.logo {
		padding: 0.8em;
		width: 250px;
		padding-left: 1.25em;
	}

	button.btn-success, a.btn-success {
		margin-right: 5em;
		margin-top: 1.5em;
	}

	.filter-repo {
		margin-right: 20px;
		color: white;
		cursor: pointer;

		label {
			cursor: pointer;
		}

		i {
			margin-right: 3px;
			background: #6a6a6a;
			padding: 5px;
			border-radius: 5px;
			font-size: 1.2em;
			color: #777;
		}

		input[type="checkbox"] {
			display: none;
		}

		input[type="checkbox"]:checked + label {
			i {
				color: white;

				&.color0 {
					background-color: #3cb878;
				}

				&.color2 {
					background-color: #ef689e;
				}

				&.color1 {
					background-color: #69b4df;
				}
			}
		}
	}
}
