header {
	background: url('/img/back.png');

	.logo {
		padding: 0.8em;
		width: 250px;
		padding-left: 1.25em;
	}

	button.btn-success, a.btn-success {
		margin-right: 5em;
		margin-top: 1.5em;
	}
}
