.column .panel-body .issue-header {
	position: relative;
}

.popover {
	position: absolute;
	background: #FFF;
	width: 200px;
	min-height: 100px;
	top: .3em;
	left: 3em;
	z-index: 1000;
	border: solid 1px #EEE;
	border-radius: 3px;
	box-shadow: 0px 7px 17px rgba(0,0,0,.3);
}

.popover-header {
	background: #EEE;
	border-bottom: solid 1px #DDD;
}

.popover-header::before {
	content: "";
	display: block;
	position: absolute;
	width: .75em;
	height: .75em;
	transform: rotate(45deg);
	left: -.45em;
	top: .65em;
	background: #EEE;
	border-bottom: solid 1px #DDD;
	border-left: solid 1px #DDD;
}
.popover-header h2 {
	font-size: 10pt;
	padding: .5em;
	margin: 0;
}

.popover-confirm {
  padding: 1em .5em;
  text-align: center;
}

.popover-confirm .btn {
  background: #EEE;
  color: #222;
  border: none;
  border-radius: .3em;
  padding: .3em .8em;
  margin: 0 .5em;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  font-size: 10pt;
}

.popover-confirm .btn.btn-danger {
  background: #d44;
  color: #fff;
}

.popover-confirm .btn:hover,
.popover-confirm .btn:active {
  box-shadow: inset 0 5px 8px rgba(255,255,255,.3), 1px 1px 1px rgba(0,0,0,.3);
}