.pixelated-user-agent {
  background-color: #f0e0d0;
}

.pixelated-dispatcher {
  background-color: #d0f0e0;
}

.pixelated-platform {
  background-color: #d0e0f0;
}

.issue.list-group-item {
  border-color: #aaa;
}

.issue-number {
  float: right;
}

.issue {
  z-index: 1;
}

.assigns-myself {
  z-index: 2;
}

.col-md-3 {
  width: 20%;
}

.container {
  width: 1670px;
}

#open_modal_issue {
  float: right;
  margin-top: 10px;
}

#projects {
 width: 30%;
}
